.input{
    margin: 40px 100px 50px 40px;
    min-width: 500px;
    max-width: 1200px;
    flex: 1;
}
.input__titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
}
.input__titles_title{
    font-family: Manrope, serif;
    font-weight: 500;
    font-size: 20px;
    color: #0D141C;
}

.input__titles_file{
    font-family: Manrope, serif;
    font-weight: 500;
    font-size: 20px;
    color: #4A789C;

}

.slider {
    border-radius: 10px;

}

