.output{
    margin: 0 40px 100px;
}
.output__code{
    resize: none;
    height: 300px;
    font-family: "Fira Code Retina", serif;
    font-size: 20px;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.output__code::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 10px;
}

.output__code::-webkit-scrollbar{
    background: none;
    width: 5px;
}
